@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(270deg, #00b7ff73, #7fff6e);
}

.my-container {
  min-height: calc(100vh - 56px - 68px);
}

.goods {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.my-toast {
  position: fixed;
  top: 4rem;
  right: 3rem;
  animation: fade-in 250ms ease-in-out;
}